.DS_Store
scripts/.DS_Store

# ignore raw data files
data/


# ignore generated poster scripts
scripts/poster_scripts/
scripts/old/*

# Ignore history and .* files
.Rhistory
.*

# Ignore original files
final_data/*

# Ignore old, test results, and logs
logs/*
old_results/*
test_output/*