# ignore raw data files
data/

# ignore generated poster scripts
scripts/poster_scripts/

# Ignore history and .* files
.Rhistory
.*

# Ignore original files
final_data/*

# Ignore old and logs
logs/*
old_results/*